<header class="navbar">
  <div class="container nav-container">
    <a href="/" class="nav-brand">Abdulhakim Bashir</a>
    <nav>
      <ul class="nav-links">
        <li class="nav-item"><a href="/" class="nav-link {% if page.url == '/' %}active{% endif %}">Home</a></li>
        <li class="nav-item"><a href="/ia/" class="nav-link {% if page.url contains '/ia/' %}active{% endif %}">Intelligent Agents</a></li>
        <li class="nav-item"><a href="/ml/" class="nav-link {% if page.url contains '/ml/' %}active{% endif %}">Machine Learning</a></li>
      </ul>
    </nav>
  </div>
</header> 