<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="downloads">
          <li><a href="https://www.linkedin.com/in/abdulhakim-bashir/"><i class="fab fa-linkedin"></i> <strong>LinkedIn</strong></a></li>
          <li><a href="https://twitter.com/superfunguy_"><i class="fab fa-twitter"></i> <strong>X(Twitter)</strong></a></li>
          <li><a href="https://www.github.com/babdulhakim2"><i class="fab fa-github"></i> <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        {% if page.url == "/" %}
        <div class="welcome-banner">
          <h2>Welcome to my Portfolio</h2>
          <p>Explore my work in Artificial Intelligence and Machine Learning through the modules below. This portfolio showcases my academic journey and projects completed during my MSc program at the University of Essex.</p>
        </div>
        {% endif %}

        {{ content }}

      </section>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title | default: site.github.owner_name }}. All rights reserved.</p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/navigation.js" | relative_url }}"></script>
  </body>
</html>
